.App {
  
}

.container {
  border: 2px solid #47476b;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: auto;
  padding: 5px;
  width: 320px;
  background-color: black;
  
}

.inputFormula {
  color: orange;
  margin-top:5px;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
  min-height: 24px;
}

.output {
  color: white;
  font-size: 30px;
  text-align: right;
  max-height: 30px;
  line-height: 30px;
  margin-bottom:5px;
}

button {
  margin:0;
  padding: 0;
  border: 1px solid black;
  color: white;
  font-size: 20px;
  width: 80px;
  height: 80px;
  display: inline-block;
}

button:hover{
  border: 1px solid white;
  color: black;
}

.btn-large {
  width: 160px;
}

.btn-long{
  height: 160px;
}

.bg-grey {
  background: rgb(102, 102, 102);
}

.bg-dark-grey{
  background: #4d4d4d;
}
.bg-dark-red{
  background: rgb(172, 57, 57);
}

.bg-dark-blue{
  background: rgb(0, 68, 102);
}

#equals {
  position: absolute;
  right:5px;
  bottom: 5px;
}